v3.0/
/terraform/.terraform/
/.vagrant/
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
/Berksfile.lock
/log/development.log
/.DS_Store
/terraform/.terraform.tfstate.lock.info
/cookbooks
/terraform/ubuntu-xenial-16.04-cloudimg-console.log
/ubuntu-xenial-16.04-cloudimg-console.log

# Ignore application configurations
.chef
.vagrant

# Logs and databases #
*.log
*.sql
*.sqlite

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
/.idea/
/Gemfile.lock
