v3.0/
###############################################################################################
# Ignore application configurations
###############################################################################################
.chef
.vagrant
###############################################################################################
# Logs and databases #
###############################################################################################
*.log
*.sql
*.sqlite