<section class="text-center">
<h1>Dashboard</h1>



<hr>

<a class="btn btn-primary bigBtn" href="/logs/new" role="button">New Log </a>
<a class="btn btn-success bigBtn" href="/items/" role="button">Items</a>
<a class="btn btn-info bigBtn" href="/logs/list" role="button">Logs</a>
<a class="btn btn-warning bigBtn" href="/logs/list" role="button">Return item</a>

</section>

<br />
<hr>



