<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<table class="table table-hover">
 <thead>
  <tr>
    <th>User id</th>
    <th>User email</th>
 
  </tr>
  </thead>
  <tr>
  <th><%= @user.id %></th>
  <th><%= @user.email %></th>   


  </tr>
</table>