<section class="text-center container">

<div class="">
    <h1>Welcome to Sparta Global Item tech Log</h1>
    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <p><a class="btn btn-lg btn-success" href="/logs/" role="button">Login </a></p>
</div>
 
</section>
