
<div class="text-center">
  <h1>Item details </h1>


  <a class="btn btn-success largeBtn" href="/items/" role="button">Items </a>


  <table class="table table-hover">
   <thead>
    <tr>
      <th>Item id</th>
      <th>Item model</th>
      <th>Item serial number</th>
    </tr>
    </thead>
    <tr>
    <th><%= @item.id %></th>
    <th><%= @item.item_model %></th>   
    <th><%= @item.item_serial_number %></th>

    </tr>
  </table>
</div>
