<h1>Items#index</h1>
<p>Find me in app/views/items/index.html.erb</p>


<a class="btn btn-primary" href="/items/new" role="button">Add new Item </a>

<table class="table table-hover">

  <tr>
    <th>Item id</th>
    <th>Item model</th>
    <th>Item serial number</th>


  </tr>
  <% @items.each do |item| %>
  <tr>
  <th><%= item.id %></th>
  <th><%= item.item_model %></th>   
  <th><%= item.item_serial_number %></th>

  </tr>

   <%end%>
</table>