<h1>Items#new</h1>
<p>Find me in app/views/items/new.html.erb</p>


<form class="" action="<%= items_path %>" method="POST">



<input type="" name="item[item_model]">
<input type="" name="item[item_serial_number]">



<input type="submit" value="Add new Item">
<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">


</form>

