<h1>Items#show</h1>
<p>Find me in app/views/items/show.html.erb</p>

<a class="btn btn-primary" href="/items/" role="button">See all Items </a>


<table class="table table-hover">

  <tr>
    <th>Item id</th>
    <th>Item model</th>
    <th>Item serial number</th>
  </tr>
  <tr>
  <th><%= @item.id %></th>
  <th><%= @item.item_model %></th>   
  <th><%= @item.item_serial_number %></th>

  </tr>
</table>
